@using FPT_Education_IC.Data;
@using FPT_Education_IC.Models;
@using FPT_Education_IC.Service;
@using FPT_Education_IC.Statics;
@using FPT_Education_IC.ViewModels;
@using System.Collections;
@{
    EmrSession emrSession = ViewBag.EmrSession;
    int programId = -1;
    if (ViewBag.ProgramId != null) programId = ViewBag.ProgramId;
    ProgramsService programsService = ViewBag.ProgramsService;
    Program program = programsService.getProgramById(programId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tạo bài viết</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body class="nav-fixed">
    @Html.Partial("_Header" , emrSession)
    <div id="layoutSidenav">
        @Html.Partial("_Menu", emrSession)
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                    <div class="container-fluid px-4">
                        <div class="page-header-content">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="file-plus"></i></div>
                                        Tạo bài viết mới
                                    </h1>
                                </div>
                                <div class="col-12 col-xl-auto mb-3">
                                    <a class="btn btn-outline-primary" href="@Url.Action("ViewForumDetails", "Forums", new {programId = program.ProgramId})">
                                        <i class="me-1" data-feather="arrow-left"></i>
                                        Trở lại tất cả bài viết
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->
                <div class="container-fluid px-4 mb-3">
                    <div class="row gx-4">
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-header">
                                    Tiêu đề bài viết
                                </div>
                                <div class="card-body">
                                    <input class="form-control text-lg" id="postTitle" type="text" placeholder="Nhập tiêu đề bài viết..." value=""  />
                                </div>
                            </div>
                            <div class="card card-header-actions mb-4 mb-lg-0">
                                <div class="card-header">
                                    Nội dung bài viết
                                </div>
                                <div class="card-body">
                                    <div id="editor" style="min-height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-header-actions">
                                <div class="card-header">
                                    Tùy chọn đăng bài viết
                                    <i class="text-muted" data-feather="info" data-bs-toggle="tooltip" data-bs-placement="left" title="Ảnh và tệp sẽ nằm ở cuối bài viết. Loại file tải lên là PDF hoặc Microsoft office file"></i>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="fileInputDoc" class="form-label"><i class="post-add-icon" data-feather="file-plus"></i>&nbspThêm file vào bài viết:</label>
                                        <input type="file" class="form-control" id="fileInputDoc" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx">
                                    </div>
                                    <div class="float-end" id="clearDoc"></div>
                                    <div id="fileLink" class="mt-3"></div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="fileInputImage" class="form-label"><i class="post-add-icon" data-feather="camera"></i>&nbspThêm ảnh vào bài viết:</label>
                                        <input type="file" class="form-control" id="fileInputImage" accept="image/*">
                                    </div>
                                    <div class="float-end" id="clearImg"></div>
                                    <div id="imagePreview" class="img-fluid"></div>
                                </div>
                                <div class="card-body">
                                    <div class="d-grid"><button class="fw-500 btn btn-primary" onclick="CreateNewForum('@program.ProgramId')">Tạo bài viết</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
             @Html.Partial("_Footer")
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        document.querySelector('form').addEventListener('submit', function (event) {
            var editorContent = document.querySelector('.ql-editor').innerHTML;
            event.preventDefault();
        });

        const fileInputImg = document.getElementById('fileInputImage');
        const imagePreview = document.getElementById('imagePreview');
        const clearImg = document.getElementById('clearImg');

        fileInputImg.addEventListener('change', function () {
            const file = fileInputImg.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    clearImg.innerHTML = '';
                    const previewImg = document.createElement('img');
                    previewImg.src = e.target.result;
                    previewImg.className = 'img-thumbnail';
                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(previewImg);
                    const clearIcon = document.createElement('i');
                    clearIcon.className = 'post-add-icon';
                    clearIcon.setAttribute('data-feather', 'x');
                    clearImg.onclick = clearImgPreview; // Sử dụng hàm clearImgPreview để xóa ảnh
                    clearImg.appendChild(clearIcon);
                    feather.replace(); // Render Feather icons
                };
                reader.readAsDataURL(file);
            }
        });

        const fileInputDoc = document.getElementById('fileInputDoc');
        const fileLink = document.getElementById('fileLink');
        const clearDoc = document.getElementById('clearDoc');

        fileInputDoc.addEventListener('change', function () {
            const file = fileInputDoc.files[0];

            if (file) {
                clearDoc.innerHTML = '';
                const fileURL = URL.createObjectURL(file);
                const link = document.createElement('a');
                link.href = fileURL;
                link.target = '_blank'; // Open in a new tab
                link.innerText = 'Tải hoặc xem file';
                fileLink.innerHTML = '';
                fileLink.appendChild(link);
                const clearIcon = document.createElement('i');
                clearIcon.className = 'post-add-icon';
                clearIcon.setAttribute('data-feather', 'x');
                clearDoc.onclick = clearDocPreview; // Sử dụng hàm clearDocPreview để xóa file
                clearDoc.appendChild(clearIcon);
                feather.replace(); // Render Feather icons
            }
        });

        function clearImgPreview() {
            imagePreview.innerHTML = ''; // Xóa ảnh hoặc file xem trước
            fileInputImg.value = ''; // Đặt lại giá trị của input file
            clearImg.innerHTML = '';
        }

        function clearDocPreview() {
            fileLink.innerHTML = ''; // Xóa file xem trước
            fileInputDoc.value = ''; // Đặt lại giá trị của input file
            clearDoc.innerHTML = '';
        }

        function CreateNewForum(programID) {

            const postTitle = document.getElementById('postTitle');
            const postContent = document.querySelector('#editor .ql-editor');

            if (postTitle && postTitle.value.trim() === '') {
                showAlert('Vui lòng nhập tiêu đề bài viết', 'warning');
                return;
            }

            if (postContent && postContent.textContent.trim() === '') {
                showAlert('Vui lòng nhập nội dung bài viết', 'warning');
                return;
            }

            var imageAdd = $('#fileInputImage')[0].files[0];
            var docAdd = $('#fileInputDoc')[0].files[0];

            var formData = new FormData();
            formData.append('programId', programID);
            formData.append('postTitle', postTitle.value);
            formData.append('postContent', postContent.innerHTML);
            formData.append('imageAdd', imageAdd);
            formData.append('docAdd', docAdd);

            $.ajax({
                url: "/Forums/AddNewForum",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: async function (data) {
                    await showAlert("Đã tạo forum thành công!", "success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                },
                error: async function (xhr, status, error) {
                    await showAlert("Vui lòng thử lại hoặc liên hệ với quản trị viên.", "error");
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
            });

        }
    </script>
</body>
</html>
