@using FPT_Education_IC.Data;
@using FPT_Education_IC.Models;
@using FPT_Education_IC.ViewModels;
@using FPT_Education_IC.Controllers;
@using FPT_Education_IC.Service;
@using System.Collections;
@{
    EmrSession emrSession = ViewBag.EmrSession;
    SystemsService systemsService = ViewBag.SystemsService;
    ArrayList documentTypeList = systemsService.GetListDocumentType();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Thêm tài liệu</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>

</head>
<body class="nav-fixed">
    @Html.Partial("_Header" , emrSession)
    <div id="layoutSidenav">
        @Html.Partial("_Menu", emrSession)
        <div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="file"></i></div>
                                Quản lý tài liệu
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
            <div class="container-fluid px-4 mt-4">
            <nav class="nav nav-borders">
                <a class="nav-link ms-0" href="@Url.Action("AddDocument", "Document")">Thêm mới tài liệu</a>
                <a class="nav-link" href="@Url.Action("ManageDocument", "Document")">Danh sách tài liệu</a>
                <a class="nav-link" href="@Url.Action("RequestDocument", "Document")">Tài liệu chờ phê duyệt</a>
            </nav>
            <hr class="mt-0 mb-4" />
            <div class="card mb-4">

                <div class="card-body">
                    <div class="tab-content" id="cardTabContent">
                        <!-- Wizard tab pane item 1-->
                        <div class="tab-pane py-5 py-xl-10 fade show active" id="wizard1" role="tabpanel" aria-labelledby="wizard1-tab">
                            <div class="row justify-content-center">
                                <div class="col-xxl-10 col-xl-12">
                                    <div class="mb-3">
                                        <label class="mb-1">Tên tài liệu</label>
                                        <input class="form-control" id="inputNameAcc" name="docname" type="text" placeholder="Nhập tên tài liệu" value="" />
                                    </div>
                                    <div class="row gx-3">
                                        <div class="mb-3 col-md-6">
                                            <label for="PartnerName" class="mb-1">Chọn đối tác</label>
                                            <select class="form-select" name="partnerid" id="PartnerName">
                                                <option value="" disabled selected>Chọn đối tác</option>
                                                @foreach (Partner item in ViewBag.listPartner)
                                                {
                                                    <option value="@item.PartnerId">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label for="PartnerProgram" class="small mb-1">Chọn chương trình (nếu có)</label>
                                            <select class="form-select" name="programid" id="PartnerProgram">
                                                <option disabled selected>Chọn chương trình của đối tác: </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row gx-3">
                                        <div class="mb-3 col-md-6">
                                            <label for="" class="mb-1">Loại tài liệu</label>
                                            <select class="form-select" name="type" id="doctype">
                                                <option disabled selected value="">Chọn loại tài liệu: </option>
                                                @if (documentTypeList != null && documentTypeList.Count > 0) {
                                                    foreach(CommonMaster cm in documentTypeList) {
                                                        <option value="@cm.MasterType">@cm.MasterName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <label class="mb-1">Ngày bắt đầu</label>
                                            <input class="form-control" name="startdate" id="startdate" type="date" value="" required />
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <label for="" class="mb-1">Ngày kết thúc</label>
                                            <input class="form-control" name="enddate" id="enddate" type="date" value="" required />
                                        </div>
                                    </div>
                                    <div class="row gx-3 mt-3">
                                        <div class="col-12 mb-md-0">
                                            <label for="" class="mb-1">Mô tả tài liệu</label>
                                            <textarea class="form-control auto-expand" style="min-height: 100px;" name="desc" id="description" placeholder="Nhập mô tả tài liệu"></textarea>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mt-3">
                                        <div class="col-12 mb-md-0">
                                            <label for="" class="mb-1">Tải lên tài liệu</label>
                                            <input class="form-control" id="docFile" name="document" type="file" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx" value="" />
                                        </div>
                                    </div>

                                    <hr class="my-4" />
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-primary" type="button" onclick="AddNewDocument()">Thêm tài liệu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @Html.Partial("_Footer")
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const partnerNameSelect = document.getElementById('PartnerName');
        const partnerProgramSelect = document.getElementById('PartnerProgram');

        function LoadProgramByPartner(list) {
            var pselect = $("#PartnerProgram");
            pselect.empty();

            pselect.append($('<option>', {
                value: "",
                text: "Chọn chương trình của đối tác:",
                disabled: true,
                selected: true
            }));



            $.each(list, function (index, item) {
                pselect.append($('<option>', {
                    value: item.programId,
                    text: item.title
                }));
            });
        }

        partnerNameSelect.addEventListener('change', function () {
            const selectedPartner = partnerNameSelect.value;

            $.ajax({
                type: "POST",
                url: "/Document/GetProgramsByPartner",
                data: { partnerId: selectedPartner },
                success: function (data) {
                    if (data.success) {
                        LoadProgramByPartner(data.list);
                    }
                }
            });
        });

        function ValidateDocument() {
            var docName = $("#inputNameAcc").val();
            var partner = $("#PartnerName").val();
            var docType = $("#doctype").val();
            var stDate = $("#startdate").val();
            var enddate = $("#enddate").val();
            var description = $("#description").val();
            var fileDoc = $("#docFile")[0].files[0];

            if (!docName || docName.trim() == '') {
                showAlert('Vui lòng nhập tên tài liệu', 'warning');
                return false;
            }

            if (!partner || partner.trim() == '') {
                showAlert('Vui lòng chọn đối tác', 'warning');
                return false;
            }

            if (!docType || docType.trim() == '') {
                showAlert('Vui lòng chọn loại tài liệu', 'warning');
                return false;
            }

            if (!stDate || stDate.trim() == '') {
                showAlert('Vui lòng nhập ngày bắt đầu của tài liệu', 'warning');
                return false;
            }

            if (enddate && enddate.trim() != '' && enddate < stDate) {
                showAlert('Ngày kết thúc phải lớn hơn này bắt đầu', 'warning');
                return false;
            }

            if (!fileDoc || fileDoc.length <= 0) {
                showAlert('Vui lòng tải lên tài liệu (.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx)', 'warning');
                return false;
            }
            
            return true;
        }


        function AddNewDocument() {
            
            if (!ValidateDocument()) {
                return;
            }

            var docName = $("#inputNameAcc").val();
            var partner = $("#PartnerName").val();
            var docType = $("#doctype").val();
            var stDate = $("#startdate").val();
            var enddate = $("#enddate").val();
            var description = $("#description").val();
            var program = $("#PartnerProgram").val();
            var fileDoc = $("#docFile")[0].files[0];

            var formData = new FormData();

            formData.append("docname", docName);
            formData.append("partnerid", partner);
            formData.append("type", docType);
            if (program) {
                formData.append("programid", program);
            }
            formData.append("startdate", stDate);
            if (enddate) {
                formData.append("enddate", enddate);
            }
            formData.append("desc", description);
            if (fileDoc) {
                formData.append("docAdd", fileDoc);
            }

            $.ajax({
                url: "/Document/DoAdd",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: async function (data) {
                    if (data.success) {
                        await showAlert('Thêm mới tài liệu thành công', "success");
                        setTimeout(function () {
                            window.location.href = "/Document/ManageDocument";
                        }, 2000);
                    } else {
                        await showAlert("Đã có lỗi xảy ra vui lòng thử lại hoặc liên hệ với quản trị viên.", "error");
                    }
                },
                error: async function (xhr, status, error) {
                    await showAlert("Đã có lỗi xảy ra vui lòng thử lại hoặc liên hệ với quản trị viên.", "error");
                }
            });
        }

    </script>

</body>
</html>
