@using FPT_Education_IC.Data;
@using FPT_Education_IC.Controllers;
@using FPT_Education_IC.Service;
@using FPT_Education_IC.Statics;
@{
    EmrSession emrSession = ViewBag.EmrSession;

    var questionID = ViewBag.QuestionID;
    SystemsService systemsService = ViewBag.SystemsService;
    Faq faq = null;
    if (questionID != null)
    {
        faq = systemsService.GetQuestionByID(questionID);
    }
    AccountService accountService = ViewBag.AccountService;
    UsrAccount userAccount = accountService.GetUsrAccountById(emrSession.userId);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Chi tiết câu hỏi thường gặp</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
    @Html.Partial("_Header" , emrSession)
    <div id="layoutSidenav">
        @Html.Partial("_Menu", emrSession)
        <div id="layoutSidenav_content">
            <main>
                <header class="page-header page-header-dark bg-gray-600 mb-4">
                    <div class="container-xl px-4">
                        <div class="page-header-content" style="padding-top: 1rem; padding-bottom: 1rem;">
                            <div class="row align-items-center justify-content-between pt-3">
                                <div class="col-auto mb-3">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="life-buoy"></i></div>
                                        Những câu hỏi thường gặp
                                    </h1>
                                    <div class="page-header-subtitle">Bạn đang tìm gì? Chúng tôi sẵn sàng giúp đỡ.</div>
                                </div>
                                @if (faq != null && faq.Id != null && (userAccount.Role == StaticsData.ADMIN_ROLE || userAccount.Role == StaticsData.SUPER_ADMIN_ROLE))
                                {
                                <div class="col-12 col-xl-auto mb-3">
                                        <a class="btn btn-outline-primary" href="@Url.Action("UpdateFAQSystem", "Systems", new {questionID = faq.Id})">
                                        <i class="me-1" data-feather="edit"></i>
                                        Chỉnh sửa câu hỏi
                                    </a>
                                    <a class="btn btn-outline-danger" href="@Url.Action("DeleteFAQ", "Systems", new {questionID = faq.Id})">
                                        <i class="me-1" data-feather="trash-2"></i>
                                        Xóa câu hỏi
                                    </a>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main page content-->
                <div class="container-xl px-4">
                    <!-- Knowledge base article-->
                    <div class="card mb-4">
                        @if (faq != null && faq.Id != null)
                        {
                            <div class="card-header d-flex align-items-center">
                                <a class="btn btn-transparent-dark btn-icon" href="@Url.Action("ViewListFAQ", "Systems")"><i data-feather="arrow-left"></i></a>
                                <div class="ms-3"><h2 class="my-3">@faq.Question</h2></div>
                            </div>
                            <div class="card-body lead">
                                @Html.Raw(faq.Answer)
                            </div>
                        } else
                        {
                            <div class="card-header d-flex align-items-center">
                                <a class="btn btn-transparent-dark btn-icon" href="@Url.Action("ViewListFAQ", "Systems")"><i data-feather="arrow-left"></i></a>
                                <div class="ms-3"><h2 class="my-3">Chưa có câu trả lời cho câu hỏi này</h2></div>
                            </div>
                        }
                    </div>
                </div>
            </main>
            @Html.Partial("_Footer")
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
